.card-wrapper {
  margin-bottom: 15px;
}

.btn:hover {
  cursor: pointer;
}

a:not([href]) {
  color: #007bff;
}

a:not([href]):hover {
  color: #007bff;
  filter: brightness(50%);
  cursor: pointer;
}

.card {
  width: 250px;
  height: 175px;
}
