<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button style="cursor: pointer;" class="btn nav-link dropdown-toggle ml-auto" role="button" appDropdown>
        <fa name="th"></fa>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-item">
          <a class="" (click)="onChangeView('col-1')">List View</a>
        </li>
        <li class="dropdown-item dropdown dropleft">
          <a class="dropdown-toggle"
             role="button"
             (click)="onChangeView('col-3')"
             appDropdown>Column View</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item" (click)="onChangeView('col-2')" style="cursor: pointer;"> 2 Columns</li>
            <li class="dropdown-item" (click)="onChangeView('col-3')" style="cursor: pointer;"> 3 Columns</li>
            <li class="dropdown-item" (click)="onChangeView('col-4')" style="cursor: pointer;"> 4 Columns</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" style="padding: 10px;">
  <div class="col-md-4" [ngClass]="toggleViewMode()" *ngFor="let image of displayAlbum.images"
       style="padding-bottom: 10px;">
    <a [href]="image.url">
      <div class="card">
              <span class="card-img-top">
                <img class="card-img img-fluid" [src]="image.url" [alt]="image.name">
              </span>
        <span class="card-title text-center">{{image.name}}</span>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center" style="padding-bottom: 10px">
    <div class="btn-group">
      <button class="btn btn-success"><fa name="angle-double-left"></fa></button>
      <button class="btn btn-primary" *ngFor="let page of pages">{{page}}</button>
      <button class="btn btn-success"><fa name="angle-double-right"></fa></button>
    </div>
  </div>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;
