<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button style="cursor: pointer;" class="btn nav-link dropdown-toggle ml-auto" role="button" appDropdown>
        <fa name="th"></fa>
      </button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li class="dropdown-item">
          <a class="" (click)="onChangeView('col-1')">List View</a>
        </li>
        <li class="dropdown-item dropdown dropleft">
          <a class="dropdown-toggle"
             role="button"
             (click)="onChangeView('col-3')"
             appDropdown>Column View</a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item" (click)="onChangeView('col-2')" style="cursor: pointer;"> 2 Columns</li>
            <li class="dropdown-item" (click)="onChangeView('col-3')" style="cursor: pointer;"> 3 Columns</li>
            <li class="dropdown-item" (click)="onChangeView('col-4')" style="cursor: pointer;"> 4 Columns</li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row p-1">
  <div class="col-md-4 mb-3" [ngClass]="toggleViewMode()" *ngFor="let image of displayImages">
    <a href="{{image.url}}">
      <div class="card">
              <span class="card-img-top">
                <img class="card-img img-fluid" src="{{image.url}}" alt="{{image.name}}">
              </span>
        <span class="card-title text-center">{{image.name}}</span>
      </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center pb-3">
    <div class="btn-group" *ngIf="pages.length > 1">
      <button class="btn btn-primary"
              [ngClass]="{active: page === currentPage}"
              *ngFor="let page of pages; let i = index"
              (click)="getPages(i)">
        {{page}}
      </button>
    </div>
  </div>
</div>
