<div class="container pt-5">
  <div class="row">
    <div class="col-md-5">
      <div class="row">
        <div class="col-12 list-group">
            <a routerLinkActive="active"
               class="list-group-item clearfix"
               [routerLink]="[user.id]"
               *ngFor="let user of users;">
              <h6 class="list-group-item-heading">{{user.name}}</h6>
            </a>
        </div>
      </div>
    </div>
    <br>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
