<nav class="navbar navbar-nav bg-light col-3 sidebar-wrapper" >
  <h3 class="navbar-brand">My Albums</h3>
  <hr>
  <div class="list-group">
    <div class="list-group-item" [hidden]="displayAddAlbum">
      <a class="list-group-item btn btn-outline-primary col-12"
         [ngClass]="{active: displayAddAlbum }"
         style="border: 1px dashed"
         (click)="onToggleAddAlbum()">New Album
        <fa name="plus"></fa>
      </a>
    </div>
    <div class="list-group-item" [hidden]="!displayAddAlbum">
      <label for="new-album">New Album Name:</label>
      <input type="text" id="new-album" class="form-control col-12" #inputNewAlbum>
      <fa name="check" class="btn col-6" (click)="onAddAlbum()"></fa>
      <fa name="times" class="btn col-6" (click)="onCancel()"></fa>
    </div>
    <div class="list-group-item"
         [ngClass]="{active: selected === i }"
         routerLinkActive="active"
         *ngFor="let album of activeUser.albums;let i = index">
      <a class="btn col-12" [routerLink]="[i]">{{album.name}}</a>
    </div>
  </div>
</nav>
<div class="offset-1 col-7">
  <router-outlet></router-outlet>
</div>
